.dark{
	-fx-background-color: #004c40;
}
.actionbar{
	-fx-background-color: #00796b;	
}
.actionbar:extreme-small-device{
	-fx-pref-width: 100%;
	-fx-pref-height: 10%;
}

.jfx-hamburger StackPane{
	-fx-background-color: #ffffff;
	
}

.main{
    -fx-background-image: url("../view/images/logo.png");
    -fx-background-size: 1024 768;
    -fx-background-position: center;
}

.apptitle{
	-fx-width: 100%;
	-fx-height: 100%;
	-fx-position-shape: center;
}
.form{
    -fx-background-color: #ffffff;
	
}
.button{
	-fx-background-color: #c62828;
	-fx-fill-color: #ffffff;
	-jfx-rippler-fill-color: #eb3434;
}

.actionbuttonguardar{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-background-image: url("../view/images/save.png");
    -fx-background-size: 32px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;    
}

.actionbuttonguardar2{    
    -fx-background-color: white;
    -fx-background-image: url("../view/images/save.png");
    -fx-background-size: 32px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;    
}

.actionbuttonborrar{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-background-image: url("../view/images/delete.png");
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.actionbuttonsalir{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-fill: transparent;
    -fx-background-image: url("../view/images/exit.png");
    -fx-background-size: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position:  center;
}

.edittext{
	-jfx-focus-color: #00796b;
	-fx-width: 100%;
	-fx-margin: 10%;
}

.buttonDrawer{
	-fx-background-color: ghostwhite;
	-fx-fill-color: #ffffff;
	-jfx-rippler-fill-color: #eb3434;
}
.buttonDrawer:hover{
	-fx-background-color: lightgrey;
}